<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798730422090-o939gq97oess9s1546a8uer208oiu9l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798730422090-o939gq97oess9s1546a8uer208oiu9l9</string>
	<key>API_KEY</key>
	<string>AIzaSyDDid4PZ01lDZXkqt54jlIA3lqOXQdalaY</string>
	<key>GCM_SENDER_ID</key>
	<string>798730422090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qimadev.ubairgo</string>
	<key>PROJECT_ID</key>
	<string>ubairgo-pms</string>
	<key>STORAGE_BUCKET</key>
	<string>ubairgo-pms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798730422090:ios:931fc7c74c01b1042663b3</string>
</dict>
</plist>